[Unit]
Description=Ghidra Server
After=network.target

[Service]
ExecStart=/usr/local/bin/ghidra_server.sh
Restart=always

[Install]
WantedBy=multi-user.target
